@import "tailwindcss";
@layer base {
  *,
  *::before,
  *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  /* For Firefox. */
  * {
    scrollbar-width: none;
  }

  /* For WebKit (Chrome & Safari). */
  ::-webkit-scrollbar {
    display: none;
  }
}

:root {
  --main: #900A05;
  --secondary: #DA8A02;
  --hover-secondary: #D2620D;
  --active-secondary: #AE430F;
  --white: #F8F8F8;
  --light-white: #F1E0C5;
  --black : #000000;
  --disabled: #FCECC9;
  --inter: "Inter", sans-serif;
}

body {
  font-family: var(--inter);
  background: var(--black);
  color : var(--white);
  font-size: 19.2px;
}

@theme inline {
  --font-display: "Inter", sans-serif;
  --font-lobster: var(--font-lobster);
  --font-oswald: var(--font-oswald);
  --color-main: var(--main);
  --color-secondary: var(--secondary);
  --color-hover-secondary: var(--hover-secondary);
  --color-active-secondary: var(--active-secondary);
  --color-background: var(--background);
  --color-disabled: var(--disabled);
  --color-white: var(--white);
  --color-light-white: var(--light-white);
}

@theme {
  --text-super-title: 64px;
  --text-title-1: 47.78px;
  --text-title-2: 39.81px;
  --text-title-3: 33.18px;
  --text-title-4: 27.65px;
  --text-title-5: 23.04px;
  --text-letter-small: 16px;
}
